<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div><%- include('header.ejs') %></div>
    
    <br> <div class="relative mx-auto mb-8 w-fit">
          <% if(messages && messages.error && messages.error.length > 0)  { %>
             <% for(var i=0; i<messages.error.length; i++) { %>
                   <br>  <li class="text-white rounded px-40 py-4 bg-red-500"> <%= messages.error[i] %></li>
             <% } %>
           <% } %>
        </div>
        <div class="relative mx-auto mb-8 w-fit">
          <% if(messages && messages.success && messages.success.length > 0)  { %>
             <% for(var i=0; i<messages.success.length; i++) { %>
                   <br>  <li class="text-white rounded px-40 py-4 bg-green-500"> <%= messages.success[i] %></li>
             <% } %>
           <% } %>
        </div>
    
     <br> <h3 class="text-2xl px-3 py-2">Hello, <%= userName %></h3>
      <a href="/signout" class="underline text-green-400 hover:text-green-500 px-3"> Signout</a>
      <a href="/admin/passwordReset" class="underline text-green-400 hover:text-green-500 px-3"> Reset Password</a> <br>
      <% if (elections.length==0) { %>
      <br> <p class="px-3 py-3 text-2xl">You have zero elections </p>
    <br>  <a href="election/create" class="underline text-green-400 px-3 py-3 text-2xl">Create New Election From here</a>
       
      <% } else{ %>
        <p class="text-2xl px-3 py-4">Your Elections are:</p>
        <% for(var i=0; i<elections.length; i++) {%>
         
             <br> <a href="/elections/<%= elections[i].id %>" class="px-3 py-3 text-xl hover:text-green-300">
              <%= i+1 %> .<%=elections[i].electionName %>
              </a> <br>
         
       <% } %>
       <div>
     <br> <a href="election/create" class="underline text-green-400 text-2xl px-3 py-3">Create More Election From here</a>

      <% } %> 
      </div>
    
  
  </div>
  </body>
</html>
