<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/style.css" rel="stylesheet">
    <title><%= title %> </title>
</head>
<body>
  <br> <a href="/elections" class="px-3 py-3 text-xl underline text-green-400" > ->Elections Page</a> <br>
 <br> <div class="relative mx-auto mb-8 w-fit">
    <% if(messages && messages.error && messages.error.length > 0)  { %>
       <% for(var i=0; i<messages.error.length; i++) { %>
               <li class="text-white rounded px-40 py-4 bg-red-500"> <%= messages.error[i] %></li>
       <% } %>
     <% } %>
  </div>

    <h3 class="px-2 py-3 text-xl"> Election: <%= title %> </h3>
    <% if (questions.length==0) { %>
        <p class="text-2xl px-3">You have no questions, add from below link
            <div class="py-7">
    <br><a href="/elections/<%=id%>/newquestion/create" class="text-2xl px-2 py-8"> + Add new question from here</a>
            </div>
            <% } else{ %>
                <p class="text-2xl px-3 py-4">Your Questions are:</p>
                <% for(var i=0; i<questions.length; i++) {%>
                 
                      <a href="/elections/<%=id%>/newquestion/create/<%=questionIds[i]%>" class="px-3 text-xl hover:text-green-300">
                      <%= i+1 %>. <%=questions[i].electionQuestion %>
                      </a> <br>
                      <a class="px-4"> <%= questionDescriptions[i] %></a> <br>
                 
               <% } %>
               <div class="py-7">
                <br><a href="/elections/<%=id%>/newquestion/create" class="text-2xl px-2 py-5 underline text-green-400"> + Add new question from here</a>
                                    </div>
              <% } %>
 
    
</body>
</html>