<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    let ctx = null;
    let optionsL = null;
    let optionsCount = null;
  </script>
  <title>
  Results Of Election:<%= electionName %>
  </title>
</head>

<body class="bg-gray-100">
    <%- include('header.ejs') %> 
  <div class=" flex  text-black antialiased flex-col  overflow-hidden py-6 sm:py-12 px-20">
    <div class="w-full">
      <div>
        <% if (messages && messages.error && messages.error.length> 0) { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
            <p class="bg-red-600 my-3 text-black list-none rounded-md px-4 py-2">
              <%= messages.error[i] %>
            </p>
            <% } %>
              <% } %>
      </div>
      <div class="flex flex-col gap-6 divide-y-2 divide-black">
        <span class="text-5xl font-light mb-8">
          Results Of Election: " <%= electionName %> "

        </span>
        <div class="py-3 justify-between">
          <div class="flex flex-col justify-evenly">
            <span class="text-4xl font-bold text-black-200">Voters Participation:</span>
            <div class="flex flex-col text-black-400">
              <span class="text-3xl ">Total voters: <%= totalVoters %></span>
              <span class="text-3xl ">Count Of Voted Voters: <%= nVoted %></span>
              <span class="text-3xl ">Count Of Pending Voters: <%= nNotVoted %></span>
              <% if (nVoted==0) { %>
                <span class="text-3xl font-bold text-red-500 ">No one has voted yet!!</span>
                 
                <% } %>
             

            </div>
          </div>
          <div class="w-full flex mt-6">
            <span class="text-3xl ">Pie Chart:</span>
            <div class="w-60">
              <canvas class="object-contain" id="votes"></canvas>
            </div>
          </div>
       
       
          <script>
            ctx = document.getElementById('votes');
            completed = "<%= nVoted %>";
            pending = "<%= nNotVoted %>";
            new Chart(ctx, {
              type: 'pie',
              data: {
                labels: ["Completed ", "Pending "],
                datasets: [{
                  data: [completed, pending],
                  borderColor: "#000000",
                  backgroundColor: [
                    'rgb(113, 232, 245)',
                    'rgb(245, 167, 113)'
                  ],
                }]
              },
              options: {
                plugins: {  
                  legend: {
                    labels: {
                      color: "black",  
                      
                      font: {
                        size: 18 
                      }
                    }
                  }
                }
              }
            });
          </script>
        </div>
        <ol class="list-decimal mb-5 py-5 text-3xl">
          <p class="text-4xl font-semibold text-black-200 mb-4">Election Results:</p>
          <% for(let i=0; i<questions.length; i++) { %>
            <li class="my-4 bg-gray-200 rounded-md border border-black ">
              <div class="flex justify-between my-3 items-center">
                <div class="pl-4 py-1 divide-y">
                  <div>
                    <h3 class="text-3xl  font-semibold">
                      <%= questions[i].electionQuestion %>
                    </h3>
                    <p class="text-lg  text-black-400">
                      <%= questions[i].questionDescription %>
                    </p>
                  </div>
                  <div class="ml-12 mt-6">
                    <ol class="list-none">
                      <% for(let j=0; j<options[i].length; j++) { %>
                        <li class="option-item my-2 text-2xl grid grid-cols-10 text-black items-center">
                          <% if (optionsCount[i][j]===winners[i]) {%>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                              </svg>
                              
                            <% } %>
                              <label class=" col-start-2 col-span-4 text-xl text-black-400"><span class="text-black">
                                  <%= options[i][j].option %>
                                </span> got <span class="text-black">
                                  <%= optionsCount[i][j] %>
                                </span> votes</label>
                        </li>
                        <% } %>
                    </ol>
                  </div>
                </div>
                <div class="w-80  px-4  text-black">
                  <canvas class="object-contain" id="myChart-<%= i %>"></canvas>
                </div>
              </div>
              <script>
                ctx = document.getElementById('myChart-<%= i %>');
                optionsCount = "<%= optionsCount[i] %>".split(",");
                optionsL = "<%= optionLabels[i] %>".split(",");
                new Chart(ctx, {
                  type: 'bar',
                  data: {
                    labels: optionsL,
                    datasets: [{
                      label: ' Votes',
                      data: optionsCount,
                      borderWidth: 1,
                      borderColor: "#000000",
                      backgroundColor: 'rgb(120, 245, 113)',
                    }]
                  },
                  options: {
                    plugins: {  
                      legend: {
                        labels: {
                          color: "black", 
                          
                          font: {
                            size: 18 
                          }
                        }
                      }
                    },
                    scales: {
                      y: {  
                        ticks: {
                          color: "black", 
                          
                          font: {
                            size: 18, 
                          },
                          stepSize: 1,
                          beginAtZero: true
                        },
                        grid: {
                          color: '#000', 
                        }
                      },
                      x: { 
                        ticks: {
                          color: "black",  
                          
                          font: {
                            size: 14 
                          },
                          stepSize: 1,
                          beginAtZero: true
                        },
                        grid: {
                          color: '#000',  
                        }
                      }
                    }
                  }
                });
              </script>
            </li>
            <% } %>
        </ol>
      </div>
    </div>
  </div>
</body>
</html>