<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title> All Voters </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/style.css" rel="stylesheet">
   </head>
   <body>
    <%- include('header.ejs') %> 
  <br> <a href="/elections/<%=id%>" class="px-3 py-3 text-xl underline text-green-400" > -> <%=thisElectionName%></a> <br>
 <br>  
  <div class="relative mx-auto mb-8 w-fit">
      <% if(messages && messages.error && messages.error.length > 0)  { %>
         <% for(var i=0; i<messages.error.length; i++) { %>
                <br> <li class="text-white rounded px-40 py-4 bg-red-500"> <%= messages.error[i] %></li>
         <% } %>
       <% } %>
    </div>

    <% if (votersCount==0) { %>
        <p class="text-2xl px-3">You have No Voters For This Election, add from below link
            <div class="py-7">
    <br><a href="/elections/<%=id%>/voters/new" class="text-2xl px-2 py-8 underline text-green-400"> + Add New Voter From Here</a>
            </div>
            <% } else{ %>
                <p class="text-2xl px-3 py-4">Voters List:</p>
                <% for(var i=0; i<allVoters.length; i++) {%>
                 
                     <br> <a href="" class="px-3 text-xl hover:text-green-300">
                      <%= i+1 %> .<%=allVoters[i].voterUserId %>
                      </a> <br>
                 
               <% } %>
               <div class="py-7">
                <br><a href="/elections/<%=id%>/voters/new" class="text-2xl px-2 py-5 underline text-green-400"> + Add More Voters From Here</a>
                                    </div>
              <% } %>
            </body> 