<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/style.css" rel="stylesheet">

    <title><%= title %></title>
  
</head>
<body class="bg-gray-100">
    <div><%- include('header.ejs') %></div>
    <a href="/voter/<%=customURL%>/signout" class="underline text-green-400 hover:text-green-500 px-3"> Signout</a>
    
       <br> <div class="relative mx-auto mb-8 w-fit">
            <% if(messages && messages.error && messages.error.length > 0)  { %>
               <% for(var i=0; i<messages.error.length; i++) { %>
                    <br>   <li class="text-white rounded px-40 py-4 bg-red-500"> <%= messages.error[i] %></li>
               <% } %>
             <% } %>
          </div>
          <div class="mt-4 bg-white shadow-md rounded-lg text-left">
            <h2 class="text-2xl  text-center font-bold my-5 text-green-800"> <%=electionName%> 
                            
            </h2>

            <h2 class="text-2xl  text-center font-bold my-5 text-red-600 "> Submit Your Vote For Above Election
                            
            </h2>
            <div class="py-2 px-8">
                <form action="/e/<%=customURL%>" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <ol class="list-decimal">
                    <% for(let i=0; i<questions.length; i++) { %>
                        <li class="my-2">
                            <div class="px-2 py-1">
                                <h3 class="text-2xl my-2 hover:bg-green-50 rounded"><%= questions[i].electionQuestion %></h3>
                                <p class="text-green-800 text-md my-2"><%= questions[i].questionDescription %></p>
                            </div>
                            <div class="ml-8">
                                <ol class="list-none">
                                    <% for(let j=0; j< options[i].length; j++) { %>
                                            <li class="option-item mt-2 cursor-pointer">
                                                <input type="radio" id="<%=options[i][j].id%>" class="cursor-pointer" name="q-<%=questions[i].id%>" value="<%= options[i][j].id %>" required>
                                                <label class="px-1 my-2 cursor-pointer hover:bg-green-200 rounded" for="<%= options[i][j].id %>" class="ml-2 text-lg "><%= options[i][j].option %></label>
                                            </li>
                                    <% } %>
                                </ol>
                            </div>
                        </li>
                    <% } %>
                </ol>
    <a class="px-4 py-4 text-white wt-fit"> <button class="bg-green-600 hover:bg-green-800 rounded px-2 py-2" type="submit">Vote</button></a>

            </div>
        </div>
    </body>
</html>